@import url("https://fonts.googleapis.com/css2?family=Bubbler+One&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #3498db;
  --yellow-color: #ffcc56;
  --shadow-color: 0px 0px 10px 0px rgb(187, 187, 187);
  --font-size: 16px;
}
body {
  /* width: 100vw;
  min-height: 100vh; */
  position: relative;
  background: #000;
  font-family: "inter", sans-serif;
  background-color: #f5f5f5;
}

.container {
  /* width: 400px; */
  max-width: 800px;
  width: 100%;
  /* padding: 5px; */
  margin: auto;
  background-color: #fff;
}
.inner-container {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
.sub-container {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}



/* hotel section */
.about-hotel {
  position: relative;
  width: 100%;
  padding: 20px 10px;
  box-shadow: var(--shadow-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-sizing: border-box;
}
.wup-img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.about-hotel-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.select-container {
  padding: 2px;
  padding: 2px 7px;
  border: 2px solid var(--yellow-color);
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.hotel-time {
  display: flex;
  padding-left: 10px;
  align-items: center;
}
.hotel-time img {
  padding: 0 10px 0 5px;
}
.hotel-time p {
  font-weight: 700;
}
.hotel-time p span {
  font-size: 1rem;
  font-weight: 400;
}
.card-top-left {
  display: flex;
  align-items: center;
}
.card-head {
  padding-bottom: 8px;
  font-size: 1rem;
}
.card-top-right {
  display: flex;
  gap: 10px;
  padding-top: 8px;
  padding-right: 10px;
}
.ref-icon {
  cursor: pointer;
  height: fit-content;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-color);
}
.ref-icon:hover {
  box-shadow: 0px 0px 6px 0px rgb(56, 56, 56);
}
.wup-img {
  cursor: pointer;
}
.wup-img img:hover {
  border-radius: 50%;
  box-shadow: var(--shadow-color);
}

.ref-icon-img {
  width: 20px;
}

.select {
  border: none;
}

/* Offer Section */

.offer-sec {
  background-color: var(--yellow-color);
  border-radius: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
}
.offer-l-img {
  position: absolute;
  bottom: 0;
  left: 20px;
}
.offer-r-img {
  bottom: 10;
  right: 5%;
  position: absolute;
}
.offer-mid {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Outfit", serif;
}
.offer-img2 {
  width: 200px;
}
.offer-img1 {
  width: 80px;
}
.offer-mid > :nth-child(2) {
  font-weight: 700;
  font-size: 1.8rem;
}
.offer-mid > :nth-child(3) {
  font-weight: 600;
  font-size: 1rem;
}
@media (max-width: 650px) {
  .offer-sec{
    height: 90px;
    margin-top: 10px;
  }
  .offer-mid > :nth-child(2) {
    font-weight: 600;
    font-size: 1rem;
  }
  .offer-img2 {
    width: 120px;
  }
  .offer-img1 {
    width: 50px;
  }
  .offer-l-img {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .offer-mid {
    padding-left: 30px;
  }
  .offer-r-img {
    bottom: 10;
    right: 5%;
    position: absolute;
  }
  .offer-mid > :nth-child(1) {

    font-size: 0.7rem;
  }
  .offer-mid > :nth-child(2) {
    /* font-weight: 700; */
    font-size: 1.2rem;
  }
  
}

/* Subscription Section */

.subscript {
  width: 100%;
  border-radius: 30px;
  box-shadow: var(--shadow-color);
  border: 1px solid rgb(216, 216, 216);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-l {
  text-align: center;
  padding: 20px 10px;
  width: 50%;
  cursor: pointer;
  font-weight: 600;
}
.sub-r {
  font-weight: 600;
  text-align: center;
  background-color: var(--yellow-color);
  border-radius: 30px;
  padding: 20px 10px;
  width: 50%;
  cursor: pointer;
}
.sub-r:hover {
  background-color: #f9b518;
}

/* Req Custom */

.req-custom {
  box-shadow: var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  padding: 12px 17px;
  max-width: 250px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  border: 2px solid var(--yellow-color);
  cursor: pointer;
}

.req-custom:hover {
  box-shadow: 0px 0px 6px 0px var(--yellow-color);
}

/* Menu section */
.menu {
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--shadow-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 0px;
  box-sizing: border-box;
  overflow: hidden;
}

.menu-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px 15px 30px 15px;
  gap: 20px;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}

.menu-img1 img {
  width: 30px;
  padding-top: 5px;
}

.menu-content {
  /* max-width: 200px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-content h3 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #3c3c3c;
}
.menu-content :nth-child(2) {

  font-size: 0.8rem;
  color: gray;

}
.menu-content :nth-child(3) {

  font-size: 0.6rem;
  color: gray;

}

.contity {
  font-size: 0.75rem;
}

.menu-r {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
}

.menu-img2 {
  position: relative;
}
.menu-img2-count{
  width: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.menu-img2-count :nth-child(2){
  font-size: 1.5rem;
  padding: 5px 10px;
}
.add-in{
  font-size: 2rem;
  display: flex;
  width: 30px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  height: fit-content;
  box-shadow: var(--shadow-color);
  cursor: pointer;
}

.add {
  cursor: pointer;
  box-shadow: var(--shadow-color);
  position: absolute;
  right: 10px;
  bottom: -10px;
  background-color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

.menu-img2 img {
  border-radius: 11px;
  width: 100%;
  max-width: 175px;
  height: auto;
  object-fit: cover;
}

.rate {
  font-size: 1.3rem;
  font-weight: 800;
  color: #383838;
}
#rate-option{
  font-size: 1.2rem;
  font-weight: 800;
  color: #383838;
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
  .menu-card {
    display: flex;
  }
 
  .menu-r {
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
  }

  .menu-img2 img {
    width: 175px;
    height: 150px;
  }

}

@media (min-width: 1024px) {
  .menu-content h3 {
    font-size: 1.75rem;
  }

  .rate {
    font-size: 1.3rem;
  }
 
}

/* Ratting section */

.ratting-sec {
  position: fixed;
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 130px;
  width: 600px;
  /* height: 120px; */
  box-sizing: border-box;
  background-color: var(--yellow-color);
  border-radius: 60px;
}

.ratting-sec-iner {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.ratting-r {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0px 30px;
  border-radius: 50px;
}
.ratting-r:hover {
  background-color: #eeeeee;
}
.ratting-r img {
  width: 50px;
}
.ratting-l {
  width: 300px;
  font-size: 1rem;
  padding-left: 30px;
  font-weight: 600;
  color: #2e3442;
}
.ratting-l span {
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 2px;
}

/* Footer top menu */

.option {
  z-index: 999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  cursor: pointer;
}
.option-iner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px; */
  background-color: var(--yellow-color);
  border-radius: 50%;
}
.option-iner:hover {
  background-color: #ffbd24;
}
.option-iner img {
  width: 25px;
  padding: 15px;
  /* background-color: var(--yellow-color); */
}

/* Footer Section */
.footer {
  position: sticky;
  height: 60px;
  bottom: 0;
  z-index: 999;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
}

.nav {
  width: 100%;
  height: 100%;
  /* padding: 5px 30px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.foot-color {
  width: 100%;
  height: 100%;
  background-color: #2e3442;
}
.nav-iner {
  display: flex;
  background-color: #2e3442;
  max-width: 200px;
  height: 100%;
  max-width: 300px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.nav-iner img {
  cursor: pointer;
  width: 20px;
  filter: invert(1);
}


.curved-edge {
  --c: 100px;
  height: 200px;
  max-width: 150px;
  aspect-ratio: 11/9;

  mask: radial-gradient(60% var(--c) at top, #0000 calc(100% - 1px), #2e3442);
  background: #2e3442;
}
@media (max-width: 650px) {
  .curved-edge {
    --c: 100px;
    height: 200px;
    max-width: 100px;
    aspect-ratio: 11/9;

    mask: radial-gradient(60% var(--c) at top, #0000 calc(100% - 1px), #2e3442);
    background: #2e3442;
  }
  .ratting-sec {
    bottom: 120px;
    width: 90%;
  }
  .offer-detail {
    font-size: 1rem;
  }
}
